[submodule "tomorrow"]
	path = tomorrow
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:jreese/oh-my-zsh.git
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "base16-textmate"]
	path = base16-textmate
	url = https://github.com/chriskempson/base16-textmate.git
[submodule "base16-iterm2"]
	path = base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
