[user]
	name = Amethyst Reese
	email = amethyst@n7.gg
	signingKey = 9F69256A

[core]
	editor = vim
	excludesfile = ~/.gitignore
	preloadindex = true

[safe]
	bareRepository = true

[help]
	autocorrect = -1

[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto

[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	amend = commit --amend
	fixup = commit --amend --no-edit
	st = status -sb
	ci = commit
	cu = !git add -u && git commit
	co = checkout
	di = diff
	cdi = diff --cached
	rmc = rm --cached
	br = branch
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	pullr = pull --rebase
	fp = format-patch --binary
	fpo = format-patch --binary --stdout
	pick = cherry-pick
	pop = stash pop
	sm = !git submodule
	smi = !git submodule update --init --recursive
	up = !git pullr && git smi

[init]
	defaultBranch = main

[branch]
	autosetuprebase = local

[fetch]
    prune = true

[push]
	default = upstream

[pull]
	ff = only

[diff]
	renames = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[branchless "restack"]
	preserveTimestamps = true
[branchless "next"]
	interactive = true
[branchless "smartlog"]
	defaultRevset = ((branches() | @) % main()) | branches() | @
